* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* body {
    background-color: #121212;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
} */
/* btn */

.container-404 {
    background-color: #121212;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.div-404 {
    max-width: 600px;
}

/* h1 {
    font-size: 100px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 30px;
} */

.btn {
    background-color: #ff5722;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #e64a19;
}

.animation {
    animation: float 1.5s infinite ease-in-out alternate;
}

@keyframes float {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-10px);
    }
}
